.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    background-color:salmon;
}
.header a{
    text-decoration: none;
    margin-right: 12px;
    padding: 10px;
}