.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 15px;
    background-color:salmon;
}
.header a{
    text-decoration: none;
    margin-right: 12px;
    padding: 10px;
}

@media  screen and (min-width: 767px){
   .header{
    padding: 30px;
    background: lightsalmon;
   } 
   .header a{
    margin-right: 8px;
    padding: 8px;
    margin-right: 5px;
    }
}